<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio" style="margin-top: 6rem">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-4"
    >
      چالش ها
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>

    <div class="input-group mx-auto mb-5" style="width: 60%">
      <a
        href="/cl/create"
        class="btn btn-primary mx-2"
        type="button"
        style="border-radius: 0 5rem 5rem 0"
        >ساخت چالش جدید <i class="fas fa-plus"></i
      ></a>
      <input
        type="text"
        class="form-control"
        placeholder="مثلا : ختم جز سی قرآن کریم :)"
      />
      <span class="input-group-append">
        <button
          class="btn btn-secondary mx-2"
          type="button"
          style="border-radius: 5rem"
        >
          برو
        </button>
      </span>
    </div>

    <!-- Portfolio Grid Items-->
    <div class="row justify-content-center">
      <% let i =0;%> <% challenges.docs.forEach(challenge => {let username =
      usernames[i]; %> <%- include(viewPath('layouts/challenge')
      ,{challenge,username}) %> <%i++;%> <%})%>
    </div>
    <!-- Pagination -->
    <div class="mt-5">
      <%- include(viewPath('layouts/pagination') ,{ pagination : challenges}) %>
    </div>
  </div>
</section>
