<header class="masthead bg-primary text-white text-center cm_header">
    <div class="container d-flex align-items-center flex-column ">
        
    
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-2">404</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">یعنی گشتیم نبود! نگرد نیست!</p>
    </div>
</header>
